@model IEnumerable<Seesion1.Models.Account>
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "ListUser";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div id="search">
    @Html.Action("GetUser", "Accounts")
</div>

