<!DOCTYPE html>
<html>
<head>
    <title>CSS Demo</title>
  
</head>  <link rel="stylesheet" href="StyleSheet.css" />
<body>
    <div class="container">
        <div class="header">
            <h1>HaUI-FICT</h1>
            <ul class="nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Porfolio</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="content">
            <div class="content-inner">
                <h1>Nội dung chi tiết</h1>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna. Nunc viverra imperdiet enim. Fusce est.</p>
                <p>Vivamus a tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci. Aenean nec lorem.</p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna. Nunc viverra imperdiet enim. Fusce est.</p>
                <p>Vivamus a tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci. Aenean nec lorem.</p>
          <a href="#" class="button">Đọc tiếp</a>
            </div>
        </div>
        <div class="sidebar">
            <div class="sidebar-inner">
                <h2>About Me</h2>

                <img class="img-resize" src="b11.jpg" />
                <h2>Danh mục</h2>
                <ul>
                    <li><a href="#">Danh mục 1 
                        <svg  viewBox="0 0 330 512" aria-hidden="true" role="img" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1em" height="1em" margin-top="5em;">
                        <path d="M305.913 197.085c0 2.266-1.133 4.815-2.833 6.514L171.087 335.593c-1.7 1.7-4.249 2.832-6.515 2.832s-4.815-1.133-6.515-2.832L26.064 203.599c-1.7-1.7-2.832-4.248-2.832-6.514s1.132-4.816 2.832-6.515l14.162-14.163c1.7-1.699 3.966-2.832 6.515-2.832 2.266 0 4.815 1.133 6.515 2.832l111.316 111.317 111.316-111.317c1.7-1.699 4.249-2.832 6.515-2.832s4.815 1.133 6.515 2.832l14.162 14.163c1.7 1.7 2.833 4.249 2.833 6.515z" fill-rule="nonzero" ></path>
                           </svg>

            
                    </a></li>
                    <li><a href="#">Danh mục 2</a></li>
                    <li><a href="#">Danh mục 3</a></li>
                    <li><a href="#">Danh mục 4</a></li>
                     
                </ul>
                <h2>Lưu trữ</h2>
                <ul>
                    <li><a href="#">Nội dung 1</a></li>
                    <li><a href="#">Nội dung 2</a></li>
               
                </ul>
            </div>
        </div>

        <div class="footer">
            <p>&copy; Fictional Company</p>
        </div>
    </div>
</body>
</html>

